Source: install-freedos
Section: contrib/otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    make,
    debhelper (>= 9~)
Homepage: https://github.com/dosemu2/install-freedos

Package: install-freedos
Architecture: all
Depends: python3, python3-tqdm
Description: freedos installer scripts
 A set of scripts to install freedos.
 Also provides a set of bat files for dosemu2 integration.
